/* place holder attribute.... for the comment form */

* {
    padding: 0px;
    margin: 0;
}

form {
    margin:0 auto;
    max-width:450px;
    padding-bottom:10px;
}

body {
    background:#f6f;
    font-family:helvetica,arial,sans-serif;
    color:blue;
}

#container {
    width:940px;
    margin:50px auto 50px auto;
}

main {
    float:left;
    margin-left:20px;
    width:100%;
}

aside {
    float:right;
    margin-right:20px;
    width:33%;
}

footer {
    height:60px;
    clear:both;
    line-height:60px;
    border-top:1px solid black;
}

footer ul {
overflow:hidden;
width:100%;
}

footer li {
float:left;
color:#000;
width:33%;
list-style-type:none;
text-align:center;
}

footer a {
    color:blue;
    text-decoration:none;
}

footer a:hover{
  color:#333;
  text-decoration: underline;
}

fieldset {
    background:#fcf;
    margin:20px 0 0 20px;
    padding: 10px;
    border:2px solid blue;
}

label {
    display:block;
    margin-bottom:3px;
    margin-top:3px;
}

textarea {
    resize:none;
    margin-bottom:10px;
    padding:3px 0 0 5px;
}

input[type=text]{
  width:70%;
  height:20px;
  margin-bottom:5px;
}

input[type=email]{
    width:100%;
    height:20px;
    margin-bottom:5px;
}

input[type=radio] {
    margin-right:5px;
}

input[type=tel] {
  margin-bottom: 5px;
}

input[type=submit] {
    padding:5px;
    margin-left:5px;
    font-size:1em;
    float:right;
}

input[type=checkbox] {
    padding:40px;
    margin-right:5px;
    margin-left:10px;
    font-size:1em;
}

header {
    background:#333;
    margin-bottom:5px;
}

p {
    padding:20px;
    font-size:1.3em;
  color:blue;
}

legend {
    padding:0 10px;
    font-size:2em;
    font-style:italic;
    font-family:times;
    background:#fcf;
}

form {
    margin-bottom:10px;
}

form ul {
    margin-bottom:10px;
}

form li {
    list-style-type:none;
    margin-left:10px;
    line-height:1.3;
}

hr {
  margin-top:10px;
}

.right {
    float:right;
}

header img {
  display:block;
  margin:0 auto;
  width:100%;
  max-width:100%;
}

select {
  margin:5px 0 5px 0;
}

aside ul {
  overflow:hidden;
  width:100%;
  padding-left:5px;
}

aside li {
  color:#000;
  width:33%;
  list-style-type:none;
  text-align:center;
  }

aside img {
  width:100%;
}

aside h3 {
  text-align:center;
}

aside h2 {
  text-align:center;
  padding-top:5px;
}

td {
  padding-left:10px;
}

.underline {
  text-decoration: underline;
}

footer p {
  text-align:center;
  font-size:2em;
}

p {
  text-align:center;
  color:#000;
}