
<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<title>Form</title>
<!--Remy Sharp Shim -->
<!--[if lte IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" >
</script>
<![endif]-->
</head>
<body>
    <div id="container">
    <header>
        <img src="images/head.jpg" alt="books">
    </header>
    <main>
        <form action="/story" method="post">
            <fieldset>
                <legend>Story Time!</legend>
                <label>Adjective 1:</label><input type="text" name="adj1">
                <label>Adjective 2:</label><input type="text" name="adj2">
                <label>Adjective 3:</label><input type="text" name="adj3">
                <label>Verb 1:</label><input type="text" name="verb1"><br>
                <label>Verb 2:</label><input type="text" name="verb2"><br>
                <label>Verb 3:</label><input type="text" name="verb3"><br>
                <label>Verb 4:</label><input type="text" name="verb4"><br>
                <label>Verb 5:</label><input type="text" name="verb5"><br>
                <label>Verb 6:</label><input type="text" name="verb6"><br>
                <label>Verb 7:</label><input type="text" name="verb7"><br>
                <label>Verb 8:</label><input type="text" name="verb8"><br>
                <label>Verb 9:</label><input type="text" name="verb9"><br>
                <label>Verb 10:</label><input type="text" name="verb10"><br>

                <label>Noun 1: </label><input type="text" name="noun1">
                <label>Noun 2: </label><input type="text" name="noun2">
                <label>Noun 3: </label><input type="text" name="noun3">
                <label>Noun 4: </label><input type="text" name="noun4">
                <label>Noun 5: </label><input type="text" name="noun5">
                <label>Noun 6: </label><input type="text" name="noun6">
                <label>Noun 7: </label><input type="text" name="noun7">
                <label>Noun 8: </label><input type="text" name="noun8">
                <label>Noun 9: </label><input type="text" name="noun9">
                <label>Noun 10: </label><input type="text" name="noun10">

                <label>Proper Noun 1: </label><input type="text" name="proper_noun1">
                <label>Proper Noun 1: </label><input type="text" name="proper_noun2">

                <label>Adverb 1: </label><input type="text" name="adverb">
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </main>



    </div>
</body>
